// Styles the header
.column-header {
  background: $column-blue !important;
}

.column-title {
  font-family: 'BellGothic-Black', sans-serif;
  color: #fff;
  font-size: 1em;
}




// Styles the sponsor section
.sponsor {
  color: $column-green;
  border-bottom: 1px solid $column-green;
  font-family: 'Aleo-Regular', serif;
  text-transform: uppercase;
  font-size: 1.1em;
}

.sponsor-logo {
  width: 100%;
  max-width: 220px;
}



// Styles the name + author
.column-name {
  font-family: 'Aleo-Light', serif;
  font-size: 1.75em;
  text-transform: none;
  line-height: 0.95em;
}

.column-author {
  font-size: 0.7em;
}



// Styles the content of the story
.column-story {
  font-family: 'Aleo-Regular', serif;
  border-bottom: 8px solid lighten($column-blue, 60%);
  p {
    margin-bottom: 1em;
    &:first-child {
      color: $column-blue;
      &:first-letter {
        font-size: 6em;
        line-height: 1em;
        float: left;
        margin: -0.85rem .35rem -0em -0.3rem;
      }
    }
  }
  h3 {
    font-size: 1em;
    font-family: 'Aleo-Regular', serif;
    color: $column-green;
    margin-bottom: 0;
    text-transform: none;
  }
}



// Styles the Author Contact section at bottom of story
.author-contact {
  background: $column-blue;
  color: #fff;
}

.email-icon {
  width: 100%;
  max-width: 30px;
  margin-right: 10px;
  float: left;
  path {
    fill: #fff;
  }
}

.author-bio {
  color: #fff;
  margin-left: 40px;
  font-size: 0.85em;
  line-height: 1.1em;
}
